* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(173 216 230);
  font-family: 'Nerko One', cursive;
}

header {
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-bottom: 1px solid black
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px grey;
}
