* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(173 216 230);
  font-family: 'Nerko One', cursive;
}

header {
  height: 80px;
  line-height: 80px;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px grey;
}

main {
  width: 430px;
  margin: auto;
  margin-top: 20px;
}

.line {
  height: 120px;
}

.line:not(:first-child) {
  margin-top: 20px;
}

.card {
  display: inline-block;
  width: 100px;
  height: inherit;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 1px 1px 3px grey;
}

.card:not(:first-child) {
  margin-left: 10px;
}
