* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(173 216 230);
  font-family: 'Nerko One', cursive;
}

header {
  height: 80px;
  line-height: 80px;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px grey;
}

main {
  width: 430px;
  margin: auto;
  margin-top: 20px;
}

.line {
  height: 120px;
}

.line:not(:first-child) {
  margin-top: 20px;
}

.card {
  display: inline-block;
  position: relative;
  width: 100px;
  height: inherit;
}

.card:not(:first-child) {
  margin-left: 10px;
}

.border {
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 1px 1px 3px grey;
}

.pattern {
  position: relative;
  height: inherit;
  width: inherit;
  background-image: url(../img/pattern.png);
  background-size: contain;
}

.card:hover .pattern {
  display: none;
}

.uncovered {
  display: none;
}

.card > div:first-child {
  position: absolute;
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: 80%;
  background-color: white;
  z-index: -1;
}

.balloon > span::before {
  content: 'Air balloon';
}

.bicycle > span::before {
  content: 'Bicycle';
}

.ship > span::before {
  content: 'Cruise ship';
}

.submarine > span::before {
  content: 'Submarine';
}

.tractor > span::before {
  content: 'Tractor';
}

.tram > span::before {
  content: 'Tram';
}

.card span {
  position: absolute;
  width: inherit;
  top: 75%;
  text-align: center;
  font-size: 18px;
  color: rgb(230 25 134);
  text-shadow: 1px 1px grey;
}

.balloon {
  background-image: url(../img/noun_air_balloon_3134741.png);
}

.bicycle {
  background-image: url(../img/noun_Bicycle_3134821.png);
}

.ship {
  background-image: url(../img/noun_Cruise_Ship_3134824.png);
}

.submarine {
  background-image: url(../img/noun_Submarine_3134738.png);
}

.tractor {
  background-image: url(../img/noun_Tractor_3134797.png);
}

.tram {
  background-image: url(../img/noun_Tram_3134750.png);
}

footer {
  margin-top: 15px;
  font-size: 12px;
  color: black;
  text-align: center;
}
